node_modules
Compete-Server/public/libs
Compete-React/build
typings
.vscode

.browse.VC.db
.browse.VC.db-shm
.browse.VC.db-wal

/Worker/Worker Client/nbproject/private/
/Worker/Java Compiler/nbproject/private/
/mongodb
/Worker/Java Compiler/build/
/Worker/Java Compiler/dist/
/Worker/Worker Client/build/

/ng2-admin/node_modules
/ng2-admin/dist



