extends layout

block content
  .container
    h1 Dashboard
    .col-md-4
      .panel.panel-primary
        .panel-heading 
          h1(class="panel-title") Submit Files 
        .panel-body
          form(action="")
            .form-group
              label(for="problemSelector") Select the problem. 
              select(class="form-control" id="problemSelector")
                option Problem 1
                option Problem 2
                option Problem 3
            .form-group
              label(for="fileChooser") Select the Java file.
              input(type="file", id="fileChooser")
            button(type="submit" class="btn btn-primary") Submit
    .col-md-4
      .panel.panel-warning
        .panel-heading 
          h1(class="panel-title") Appeals 
        .panel-body 
          form(action="")
            .form-group
              label(for="problemSelector") Select Topic of Appeal.
              select(class="form-control" id="problemSelector")
                option General
                option Problem 1
                option Problem 2
                option Problem 3
            .form-group
              label(for="appealArea")
              textarea(class="form-control" rows="5" id="appealArea")
            button(type="submit" class="btn btn-primary") Submit
    .col-md-4
      .panel.panel-default
        .panel-heading
          h1(class="panel-title") Team Members
        .panel-body
          form(action="" class="form-horizontal")
            .form-group
              label(for="teammember1" class="col-sm-4 control-label") Member 1
              .col-sm-7
                input(type="text" id="teammember1" class="form-control")
            .form-group
              label(for="teammember1" class="col-sm-4 control-label") Member 2
              .col-sm-7
                input(type="text" id="teammember2" class="form-control")
            .form-group
              label(for="teammember1" class="col-sm-4 control-label") Member 3
              .col-sm-7
                input(type="text" id="teammember3" class="form-control")    
            button(type="submit" class="btn btn-warning pull-right") Update
    .col-md-5
      .panel.panel-default
        .panel-heading
          h1(class="panel-title") Clarifications
        .panel-body
        .panel.panel-primary
          .panel-heading(role="tab" id="clarification")
            h1(class="panel-title")
              a(role="button" data-toggle="collapse" data-parent="#accordian" href="#collapseclarification1" aria-expanded="true" aria-contorls="collapseclarification1") Clarification #1 
          .panel-collapse.collapse.in(id="collapseclarification1" role="tabpanel" aria-labelledby="clarification")
            .panel-body
              p Hello this will be an clarification
    .col-md-7
      .panel.panel-primary
        .panel-heading(role="tab" id="tableHeading")
          h1(class="panel-title")
            a(role="button" data-toggle="collapse" data-parent="#accordian" href="#collapseRank" aria-expanded="true" aria-contorls="collapseRank") Ranks 
        .panel-collapse.collapse.in(id="collapseRank" role="tabpanel" aria-labelledby="tableHeading")
          .panel-body
            table(class="table")
              thead
                tr
                  td Rank
                  td Team
                  td Score
              tbody
                tr.active
                  td 1
                  td Team 4
                  td 141
                tr
                  td 2
                  td Team 3
                  td 140
                
            
