<div class="navbar-spacer"></div>
<div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list topnav">

                <div id="nav">
                    <li class="navbar-item">
                        <h1 class="navbar-logo">Compete-Engine</h1>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" [routerLink]="['Dashboard']">Dashboard</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" [routerLink]="['Standings']">Standings</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" [routerLink]="['Clarifications']">Clarifications</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="#">Downloads</a>
                    </li>
                    <li class="navbar-item">
                        <span class="navbar-status" href="#">Team 48</span>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" [routerLink]="['Login']">Login</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>