<div class="row">
    <div class="one-half column pane" style="margin-top: 2%">
        <h4 class="pane-title">Upload</h4>
        <form>
            <label for="problem">Problem</label>
            <select class="u-full-width form-component" id="problem">
                <option value="1">Problem 1</option>
                <option value="2">Problem 2</option>
                <option value="3">Problem 3</option>
            </select>
            <label for="upload">File</label>
            <input type="file" id=problem>
            <input class="button-primary" type="button" value="Submit">
        </form>
    </div>
    <div class="one-half column pane" style="margin-top: 2%">
        <clock></clock>
    </div>
</div>
<div class="pane" style="margin-top: 2%">
    <compete-standings></compete-standings>
</div>